#animation{
    position: relative;
    width: 200px;
    height: 200px;
    border-top: 1px solid red;
    background-color: aqua;
    border-radius: 50%;
    animation: rotate 10s ease-in-out ;
}
@keyframes rotate {
    0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
/* @keyframes rotate {
    0%{
        rotate: 0(deg);
        background-color:red;
    }
    25%{
        rotate: 90(deg);
        background-color:blue;
    }
    50%{
        rotate: 180(deg);
        background-color:green;
    }
    100%{
        rotate: 360(deg);
        background-color:red;
    }
} */